<h1>Editing Representantes Homologation</h1>

<%= render 'form', representantes_homologation: @representantes_homologation %>

<%= link_to 'Show', @representantes_homologation %> |
<%= link_to 'Back', representantes_homologations_path %>
