<h1>Editing Representante Empresa</h1>

<%= render 'form', representante_empresa: @representante_empresa %>

<%= link_to 'Show', @representante_empresa %> |
<%= link_to 'Back', representante_empresas_path %>
