<h1>Editing Representante Homologation</h1>

<%= render 'form', representante_homologation: @representante_homologation %>

<%= link_to 'Show', @representante_homologation %> |
<%= link_to 'Back', representante_homologations_path %>
