/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .btn-menu:hover{
    background: #83a5aa;
    color: white !important;
  }

 .square{
   border-radius: 2%;
   margin-top: 2%;
   margin-left: 2%;
   background: white;
   width: 96%;
   padding: 2%;
   min-height: 80%;
   position: relative;
 }

 .borderInput{
   border: 1px solid black !important; 
 }

 .borderInput:focus{
    border: 1px solid #83a5aa !important; 
  }

 .inputWith{
   width: 100% !important;
   padding: 1%;
 }

 .foo {
  float:left;
}
.bar {
  padding-left: 100px;
}